@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: #008DDA;
    --secondary: #D32F2F;
    --black: #000000;
    --white: #FFFFFF;
    --green-blue: #41C9E2;
    --light-blue: #99C4E5;
    --lighter-blue: #E6F7FF;
    --yellow: #FABC3F;
    --dark-blue: #0073B2;
    --gray: #AAAAAA;
    --light-gray: #EEEEEE;
    --lighter-gray: #F7F7F7;
    --dark-gray: #A7A7A7;
    --dark-red: #B71C1C;
    --light-red: #F8CFCF;
    --lighterter-blue: #F2FBFF;
  }
}